<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Shopping Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/productDetail.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transaction.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Shopping Cart</h1>
	</div>


	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>


		<div class="inputContent">
			<table id="transactionDetails">
				<tbody>
					<tr>
						<td class="label">Product Lookup Code:</td>
						<td>
							<input id="transactionLookupCode" type="text"/><!-- th:value="${!transaction.isEmpty} ? ${transaction.lookupCode} : ''" class="update" />-->
						</td>
					</tr>
					
						
				<!--	<tr th:class="${employee.isInitialEmployee} ? hidden : ''">
						<td class="label">Employee Type:</td>
						<td>
							<select id="employeeType" class="select">
								<option th:each="employeeType : ${employeeTypes}" th:value="${employeeType.classification}" th:text="${employeeType.displayLabel}" th:selected="${employee.classification == employeeType.classification}"></option>
							</select>
						</td>
					</tr>-->
				</tbody>
			</table>
		</div>

		<div class="transactionsActionsWrapper" th:classappend="not ${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<br />
			<button id="searchButton" type="button" class="action">Search</button>
		</div>

		<div class="transactionsActionsWrapper">
			<br />
			<button id="cancelButton" type="button" class="action">Cancel Transaction</button>
			<br /><br />
			<button id="checkOutButton" type="button" class="action">Check Out</button>
		</div>
	</div>

	<div>
		<div th:class="Transaction">
	</div>>	
    
</body>

</html>