<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Shopping Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/productDetail.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transactionDetail.js" defer></script>

	<style>
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .show {display:block;}

    .dropdown-content a { 
	  padding: 12px 16px;
  	  display: block;
	}
	</style>

</head>

<body>

	<div class="header">
		<h1 class="primary-message">Shopping Cart</h1>
	</div>

	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<div class="dropdown">
			<button onclick="search()" type="button" class="action">Search Lookup Code</button>
			<div id="dropdown" class="dropdown-content">
			  <input type="text" placeholder="Search.." id="userInput" onkeyup="filterInput()">
			  <ul id="transactionListing" class="transaction">
				<li th:each="product : ${products}">
					<input type="hidden" name="productId" th:value="${product.id}" />
					<span class="productLookupCodeDisplay" th:text="${product.lookupCode}">lookupCode</span>
					<br />&nbsp;&nbsp;<span class="productCountDisplay" th:text="${product.count}">0</span>
					<br />&nbsp;&nbsp;<span class="productPriceDisplay" th:text="${product.price}">0</span>
                    <br />&nbsp;&nbsp;<span class="productCreatedOnDisplay" th:text="${product.createdOn}">12/31/1999</span>
				</li>
			  </ul> 

			</div>
		  </div>

		<div class="transactionsActionsWrapper">
			<br />
			<button id="cancelButton" type="button" class="action">Cancel Transaction</button>
			<br /><br />
			<button id="checkOutButton" type="button" class="action">Check Out</button>
		</div>
		<ul  id="transactionListing" class="transaction">
			<li th:each="transactionEntry : ${transactionEntries}">
				<span class="transactionEntryTransactionIdDisplay" th:text="${transactionEntry.transactionId}">0</span>
				<br /><span class="transactionEntryProductIdDisplay" th:text="${transactionEntry.productId}">0</span>
				<br /><span class="transactionEntryQuantityDisplay" th:text="${transactionEntry.quantity}">0</span>
				<br /><span class="transactionEntryPriceDisplay" th:text="${transactionEntry.price}">0</span>
				<br /><span class="transactionEntryCreatedOnDisplay" th:text="${transactionEntry.createdOn}">12/31/1999</span>
			</li>
		</ul>
		<ul id="transactionListing" class="transaction">
			<td class="label">Total:</td>
				<td>
					<input id="total" type="number" th:value="${transaction.total}" class="update"/>
				</td>
		</li>
	</ul>
	</div>

	<div>
		<div th:class="Transaction">
	</div>	

	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>
    
</body>

</html>