<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Shopping Cart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transaction.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Shopping Cart</h1>
	</div>

	<div class="main">
		<p>Shopping Cart</p>
	</div>
	
	<div class="transactionsActionsWrapper">
		<br />
		<button id="cancelButton" type="button" class="action">Cancel Transaction</button>
		<br /><br />
		<button id="checkOutButton" type="button" class="action">Check Out</button>
	</div>
    
</body>

</html>